body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #d7d5ff;
  padding-top: 137.5px;
  padding-left: 101px;
  line-height: 32px;
}

.top h1 {
  font-size: 36px;
}

.top p {
  font-size: 19px;
}

.top .button {
  text-decoration: none;
  background: #6c63ff;
  color: white;
  display: block;
  display: block;
  padding: 16px 60px;
  border-radius: 4px;
  max-width: max-content;
  margin-top: 30px;
  margin-bottom: 119px;
  font-size: 24px;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
  padding: 10px;
  grid-column-gap: 20px;
  margin: 99px;
}

.contents .green,
.contents .yellow,
.contents .darkblue {
  margin-top: 80px;
}

.contents div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgb(250, 244, 244);
  padding: 30px;
  font-size: 18px;
  max-width: 340px;
  margin-top: 0;
  height: 222px;
}

.contents .lightcoral {
  background: lightcoral;
}

.contents .lightblue {
  background: lightblue;
}

.contents .purple {
  background: rgb(232, 104, 232);
}

.contents .green {
  background: lightgreen;
}

.contents .yellow {
  background: lightgoldenrodyellow;
}

.contents .darkblue {
  background: darkblue;
}
